.namepainted {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/* .namepainted::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: white;
    -webkit-text-fill-color: white;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
    white-space: nowrap;
} */

.namepainted::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: var(--paint-fill, var(--paint-gradient));
    background-size: var(--bg-size, 100% 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    animation: var(--animation-name, none) var(--animation-duration, 3s) var(--animation-easing-mode, ease) infinite;
}

@keyframes shift {
    0% { background-position: 0% 0%; }
    100% { background-position: 200% 0%; }
}

.burger {
    --paint-gradient: linear-gradient(90deg, #ffbc40 0% 25%, #89fe41 25% 30%, #ffe100 30% 35%, #694400 35% 65%, #c41818 65% 70%, #41c71c 70% 75%, #ffbc40 75% 100%);
}

.bubblegum {
    --paint-gradient: radial-gradient(circle, #eeaeca 0%, #ed4c92 100%);
}

.candycane {
    --paint-gradient: repeating-linear-gradient(134deg, #f00 0% 10%, #fff 10% 20%);
    --animation-name: shift;
    --bg-size: 200% auto;
    --animation-duration: 24s;
    --animation-easing-mode: linear;
}

.rainbow {
    --paint-gradient: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    --animation-name: shift;
    --bg-size: 200% auto;
    --animation-duration: 12s;
}

.pride {
    --paint-gradient: linear-gradient(90deg, #E40303 0% 16.6%, #FF8C00 16.6% 33.3%, #FFED00 33.3% 50%, #008026 50% 66.6%, #24408E 66.6% 83.3%, #732982 83.3% 100%);
}

.lesbian {
    --paint-gradient: linear-gradient(90deg, #D52D00 0% 20%, #EF7627 20% 40%, #FFFFFF 40% 60%, #D162A4 60% 80%, #A30262 80% 100%);
}

.bisexual {
    --paint-gradient: linear-gradient(90deg, #D60270 0% 40%, #9B4F96 40% 60%, #0038A8 60% 100%);
}

.asexual {
    --paint-gradient: linear-gradient(90deg, #202020 0% 25%, #A3A3A3 25% 50%, #FFFFFF 50% 75%, #800080 75% 100%);
}

.transgender {
    --paint-gradient: linear-gradient(90deg, #5BCEFA 0% 20%, #F5A9B8 20% 40%, #FFFFFF 40% 60%, #F5A9B8 60% 80%, #5BCEFA 80% 100%);
}

.progress {
    --paint-gradient: linear-gradient(90deg, #202020 0% 5.88%, #362312 5.88% 11.76%, #784f17 11.76% 17.64%, #7bc9ee 17.64% 23.52%, #f39bb5 23.52% 29.4%, #fff 29.4% 35.28%, #ed2224 35.28% 41.16%, #f35b22 41.16% 47.04%, #f99621 47.04% 52.92%, #f5c11e 52.92% 58.8%, #f1eb1b 58.8% 64.68%, #63c720 64.68% 70.56%, #0c9b49 70.56% 76.44%, #21878d 76.44% 82.32%, #3954a5 82.32% 88.2%, #61379b 88.2% 94.08%, #93288e 94.08% 100%);
}

.gamechanger {
    --paint-gradient: linear-gradient(90deg, #d63c29 0% 11.1%, #f5d342 11.1% 22.2%, #f5a623 22.2% 33.3%, #4ec3e0 33.3% 44.4%, #d12e43 44.4% 55.5%, #4ec3e0 55.5% 66.6%, #f5a623 66.6% 77.7%, #f5d342 77.7% 88.8%, #d63c29 88.8% 100%);
}

.mlm {
    --paint-gradient: linear-gradient(90deg, #078d6f 0% 14.3%, #26ceaa 14.3% 28.6%, #98ca99 28.6% 42.9%, #ffffff 42.9% 57.1%, #7bade2 57.1% 71.4%, #5047bf 71.4% 85.7%, #3f1a79 85.7% 100%);
}

.popfizz {
    --paint-gradient: linear-gradient(90deg, #085678 0% 21%, #f5d314 21% 42%, #1b92c4 42% 52%, #f5d314 52% 68%, #085678 68% 100%);
}

.homer {
    --paint-gradient: linear-gradient(90deg, #4c4f4b 0% 10%, #6388c9 10% 37%, #dbe2e8 37% 38%, #f8fafb 38% 67%, #e8b745 67% 68%, #f1d54b 68% 98%, #5e5e5e 98% 100%);
}

.spongebob {
    --paint-gradient: linear-gradient(90deg, #202020 0% 6%, #fff 6% 11%, #f00 11% 13%, #fdf8f3 13% 16%, #001eff 16% 18%, #fff 18% 23%, #f9f453 23% 33%, #5c3200 33% 50%, #f9f453 50% 100%);
}

.blueraspberry {
    --paint-gradient: radial-gradient(circle, #3f5efb 0%, #6f52b3 60%, #db3dd8 85%, #fc466b 100%);
}

.hotcocoa {
    --paint-gradient: linear-gradient(90deg, #422a13 0%, #bf9569 100%);
}

.portals {
    --paint-gradient: linear-gradient(90deg, #45aeff 0%, #5dabd3 33%, #86a788 45%, #e6ab22 61%, #ff9900 100%);
}

.slashed {
    --paint-gradient: linear-gradient(9deg, #3c6080 0% 38%, #ff0000 38% 45%, #434b5b 38% 52%, #4a3737 52% 100%);
}

.galaxy {
    --paint-fill: url('images/galaxy.png');
    --bg-size: 100% 400%;
}

.tempered {
    --paint-gradient: linear-gradient(
    to right,
    #780206,#061161
  );
}

.popsicle {
    --paint-gradient: linear-gradient(
    to right,
    #40E0D0,#FF8C00,#FF0080
  );
}